[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CarletonStats"]
	path = CarletonStats
	url = https://github.com/aloy/carletonstats
[submodule "HLMdiag"]
	path = HLMdiag
	url = https://github.com/aloy/hlmdiag
[submodule "lmeresampler"]
	path = lmeresampler
	url = https://github.com/aloy/lmeresampler
[submodule "qqplotr"]
	path = qqplotr
	url = https://github.com/aloy/qqplotr
